$include-primary-family:         false;
$include-secondary-family:       false;
$include-grid: false;
$include-social-icons: false;
$include-tables: false;
$include-breadcrumbs: false;
$include-cards: false;
$include-skip-to-content: false;
$include-footer: false;
$include-app-switcher: false;

@import "node_modules/calcite-web/dist/sass/calcite-web-dark";
